{% extends 'base.html' %}
{% load bootstrap %}

{% block main %}
    <form method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        <button type="submit" class="btn btn-info">Salvar</button>
    </form>

    <a href="{% url 'create_documento' object.id %}" class="btn btn-info mt-1">Adicionar documento</a>

<h2 class="mt-4">Documentos</h2>
<ul>
{% for documento in object.documento_set.all %}
    <li><a href="{{ documento.arquivo.url }}">{{documento}}</a></li><br>
{% endfor  %}
</ul>

<h2>Hora Extras</h2>
<ul>
{% for registro_hora in object.registrohoraextra_set.all %}
    <li><a href="{% url 'update_hora_extra' registro_hora.id %}">{{ registro_hora.motivo }} | {{ registro_hora.horas}}</a></li><br>
{% endfor  %}
</ul>

<h3>Total de horas extras: {{ object.total_horas_extras }}</h3>

{% endblock %}